@media screen and (max-width: 1200px) {
  .about-details-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
  
  .about-pic-container {
    width: 280px;
    height: 380px;
  }

  .about-text-container p {
    text-align: center;
  }
}